@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
.dropbtn
{
    font-size: max(1.2vw, 15px);
    border: none;
    outline: transparent;
    padding: max(0.5vw, 6px);
    color: #fff;
    border-radius: max(3.2vw, 20px);
    background: transparent;
    cursor: pointer;
}
.dropdown
{
    position: relative;
    display: inline-block;
}
.dropdown-content
{
    border-radius: 1.2vw;
    display: none;
    position: absolute;
    right: 0;
    background: #f9f9f9;
    width: max(150px, 12vw);
}
.dropdown:hover .dropdown-content
{
    display: block;
}
.dropdown-content a
{
    color: #4d039c;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover
{
    background: #4d039c;
    color: white;
    border-radius: 0;
}
.dropdown-content a:hover.first
{
    border-radius: 1vw 1vw 0 0;
}
.dropdown-content a:hover.last
{
    border-radius: 0 0 1vw 1vw;
}
::-webkit-scrollbar
{
    width: 9px;
}
::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 5px grey; 
}
::-webkit-scrollbar-thumb
{
    background: #414141; 
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover
{
    background: #4100b1; 
}
#TopBtn
{
    pointer-events: none;
    transition: 0.5s;
    opacity: 0;
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 99;
    font-size: max(1vw, 15px);
    border: none;
    outline: none;
    background-color: rgb(5, 49, 114);
    color:  #fff;
    cursor: pointer;
    padding: max(0.8vw, 11px);
    border-radius: max(0.5vw, 8px);
}
#TopBtn.active
{
    pointer-events: all;
    opacity: 1;
}
button span.full
{
    display: block;
}
button span.short
{
    display: none;
}
.load
{
    background: #111;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    overflow: hidden;
    transition: 1s;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.load.loaded
{
    transform: translateY(-100%);
}
.load i
{
    position: absolute;
    top: -25vh;
    background: rgb(255, 255, 255, 0.5);
    animation: animateStars linear infinite;
}
.rocket
{
    transform: translateY(60vh);
}
.rocket.start
{
    animation: animate 2s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;
}
.rocket img
{
    position: relative;
    height: 10vh;
}
.rocket::before
{
    content: '';
    position: absolute;
    bottom: -9vh;
    left: 50%;
    transform: translateX(-50%);
    width: 1vh;
    height: 11vh;
    background: linear-gradient(#00d0ff, transparent);
}
.rocket::after
{
    content: '';
    position: absolute;
    bottom: -9vh;
    left: 50%;
    transform: translateX(-50%);
    width: 1vh;
    height: 11vh;
    background: linear-gradient(#00d0ff, transparent);
    filter: blur(2vh);
}
.wavy
{
    position: relative;
    -webkit-box-reflect: below -1vh linear-gradient(transparent, rgba(0,0,0,0.2));
}
.wavy span
{
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 3vh;
    text-transform: uppercase;
    animation: animateText 2.2s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes animate
{
    0%  {transform: translateY(60vh);}
    29%  {transform: translateY(0vh);}
    40%  {transform: translateY(0.7vh);}
    50%  {transform: translateY(0vh);}
    70%  {transform: translateY(5vh);}
    100%  {transform: translateY(-110vh);}
}
@keyframes animateStars
{
    0%
    {
        transform: translateY(0);
    }
    100%
    {
        transform: translateY(200vh);
    }
}
@keyframes animateText
{
    0%
    {
        transform: translateY(0vh);
    }
    10%
    {
        transform: translateY(-2vh);
    }
    20%,100%
    {
        transform: translateY(0vh);
    }
}
body
{
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    background: linear-gradient(#2b1055,#7597de);

}
body .planets
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Roboto";
    list-style: none;
    box-sizing: border-box;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
header .logo
{
    color: #f9f9f9;
    font-weight: 700;
    text-decoration: none;
    font-size: max(25px, 2.5vw);
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: max(4vw, 20px);
}
header ul li a
{
    font-size: max(1.2vw, 15px);
    text-decoration: none;
    padding: max(0.5vw, 6px);
    color: #f9f9f9;
    border-radius: max(3.2vw, 20px);
}
header ul li a:hover, button:hover
{
    background: #f9f9f9;
    color: #2b1055;
}
header ul li a.active, button.active
{
    background: #f9f9f9;
    color: #2b1055;
    pointer-events: none;
}
header ul li a.dropactive
{
    pointer-events: none;
    cursor: default;
    border-radius: 0;
    background: #3e0877;
    color: #f9f9f9;
}
header ul li a.dropactive.first
{
    border-radius: 1vw 1vw 0 0;
}
header ul li a.dropactive.last
{
    border-radius: 0 0 1vw 1vw;
}
section.normal
{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section.screen
{
    min-height: 70vh;
    max-height: 70vw;
    overflow: hidden;
}
.sec3::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 30px;
    background: linear-gradient(to top,#000,transparent);
    z-index: 15;
    transform: translateY(-97%);
    margin: -5vw;
    overflow-x: hidden;
}
section.normal::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#1c0522,transparent);
    z-index: 15;
}
section.normal img
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
}
section.normal img#moon
{
    transform: translateY(6vw);
    mix-blend-mode: screen;
    padding: 100px;
    min-height: 600px;
}
section.normal img#stars
{
    height: 100%;
}
section.normal img#mountains_front
{
    z-index: 10;
}
.img-slider
{
    position: relative;
    width: 100%;
    height: min(57vw, 100vh);
    background: #1D212B;
}
.img-slider .slide
{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: min(57vw, 100vh);
    clip-path: circle(0% at 0 50%);
}
.img-slider .slide.active1
{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
}
.img-slider .slide img
{
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.img-slider .navigation
{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.img-slider .navigation .btn
{
    background: rgba(255, 255, 255, 0.5);
    width: max(2vw, 15px);
    height: max(2vw, 15px);
    margin: max(1.5vw, 13px);
    border-radius: 50%;
    cursor: pointer;
}
.img-slider .navigation .btn.active1
{
    background: #4d039c;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.bg img
{
    min-width: 100%;
    margin: -20px;
}
.rock1
{
    position: absolute !important;
    left: 10vw !important;
    top: 20vh !important;
}
.rock1 img
{
    width: 10vw;
    height: 10vw;
    filter: brightness(0.5);
}
.text
{
    margin: auto;
    width: 100%;
}
.text h1
{
    text-transform: uppercase;
    font-family: "AlphaCentauri" !important;
    font-size: 5vw;
    color: #fff;
    letter-spacing: 20px;
    top: 40vh;
    position: relative;
    text-align: center;
}
.bolygo img
{
    left: 30vw;
    width: 40vw;
    height: 40vw;
    position: absolute;
    top: 25vh;
    z-index: 1;
    filter: brightness(0.9);
}
.mid
{
    left: -100px !important;
    right: -25px;
    top: 40vh !important;
}
.mid img
{
    width: 100%;
    z-index: 2;
    filter: brightness(0.8);
}
.fore
{
    margin-top: -10px;
    right: -20px !important;
    left: unset !important;
}
.fore img
{
    height: max(73vh, 72vw);
    z-index: 3;
    filter: brightness(0.7);
}
#text
{
    position: absolute;
    right: -40%;
    color: #fff;
    white-space: nowrap;
    transform: translateY(-50%);
    font-size: 5vw;
    z-index: 9;
}
#btn
{
    text-decoration: none;
    padding: 8px max(10px, 2vw);
    border-radius: max(3.5vw, 20px);
    background: #fff;
    color: #2b1055;
    font-size: max(10px, 2vw);
    display: inline-block;
    z-index: 9;
    transform: translateY(100px);
}
.sec1
{
    position: relative;
    padding: 5vw;
    background: linear-gradient(#1c0522, #2f1b35);
    padding-bottom: 25vh;
}
.sec2
{
    padding: 5vw;
    background: linear-gradient(#111, rgb(28, 28, 28));
    padding-bottom: 25vh;
}
.sec3
{
    padding: 5vw;
    background: linear-gradient(#000,#4e77d1);
    padding-bottom: 25vh;
}
.sec1 h2
{
    font-size: max(4vw, 3.5em);
    margin-bottom: 10px;
    color: #fff;
}
.sec2 h2
{
    text-align: left;
    font-size: max(4vw, 3em);
    margin-bottom: 10px;
    color: #fff;
}
.sec3 h2
{
    font-size: max(4vw, 3.5em);
    margin-bottom: 10px;
    color: #fff;
}
.sec1, .sec2, .sec3 p
{
    font-size: max(1vw, 1em);
    color: #fff;
    text-align: justify;
}
.jobbrol .szovegdoboz
{
    background: rgb(48, 48, 48);
    padding: 4vw;
    border-radius: 4vw 11vw 4vw 4vw;
    box-shadow: 1vw 1vw 1vw rgba(240, 240, 240, 0.2);
}
.ballrol .szovegdoboz
{
    background: rgb(48, 48, 48);
    padding: 4vw;
    border-radius: 11vw 4vw 4vw;
    box-shadow: -1vw 1vw 1vw rgb(240, 240, 240, 0.2);
}
.lentrol .szovegdoboz
{
    background: rgb(48, 48, 48);
    padding: 4vw;
    border-radius: 11vw 11vw 4vw 4vw;
    box-shadow: -0.8vw 0.8vw 0.8vw 0.3vw rgb(240, 240, 240, 0.2);
}
.dobozok
{
    overflow: hidden;
    padding: 8vh 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.dobozok img
{
    width: max(33vw, 270px);
}
.dobozok p.jobbrol
{
    padding-left: 8vw;
}
.dobozok p.ballrol
{
    padding-right: 8vw;
}
.dobozok p.jobbrol.csakszoveg
{
    padding-left: 2vw;
}
.dobozok p.ballrol.csakszoveg
{
    padding-right: 2vw;
}
.jobbrol.padding
{
    padding-left: 8vw;
}
.ballrol.padding
{
    padding-right: 8vw;
}
.jobbrol
{
    transform: translateX(100%);
    opacity: 0;
    transition: all 1s ease-out;
}
.ballrol
{
    transform: translateX(-100%);
    opacity: 0;
    transition: all 1s ease-out;
}
.lentrol
{
    position: relative;
    opacity: 0;
}
.ballrol.active,
.jobbrol.active
{
    transform: translateX(0);
    opacity: 1;
}
.lentrol.active
{
    animation-name: lentrol;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes lentrol
{
    from {top: 7vw;}
    to {top: 0px; opacity: 1;}
}
footer
{
    position: relative;
    width: 100%;
    background: #36156b;
    bottom: 0;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer a
{
    border: 0.5vw solid rgba(255, 255, 255, 0);
    z-index: 21;
    text-transform: uppercase;
    color: #fff;
    font-size: 3.5vh;
    transition: 0.5s;
    text-decoration: none;
}
footer a:hover
{
    transform: translateY(-1.3vh);
    color: rgb(38, 89, 184);
    font-size: 4vh;
}
footer ul
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 2vh;
    margin-bottom: 5vh;
}
footer ul li a
{
    text-align: center;
    padding: max(0.8vw, 13px);
    border: max(0.5vw, 11px) solid rgba(255, 255, 255, 0);
    border-radius: 50%;
    font-size: 2vh;
    color: #fff;
    margin: 0 1vw;
    display: inline-block;
    text-decoration: none;
}
footer ul li a:hover
{
    animation: footerText 2.5s linear infinite;
}
footer .wave
{
    position: absolute;
    top: -11vh;
    left: 0;
    width: 100%;
    height: 11vh;
    background: url(img/wave.png);
    background-size: 120vh 12vh;
}
footer .wave#wave1
{
    z-index: 20;
    opacity: 1;
    bottom: 0;
    animation: animateWave_1 4.5s linear infinite;
}
footer .wave#wave2
{
    z-index: 19;
    opacity: 0.7;
    bottom: 0.5vh;
    animation: animateWave_2 3.7s linear infinite;
}
footer .wave#wave3
{
    z-index: 18;
    opacity: 0.5;
    bottom: 0;
    animation: animateWave_1 3s linear infinite;
}
footer .wave#wave4
{
    z-index: 17;
    opacity: 0.2;
    bottom: 0;
    animation: animateWave_2 2.5s linear infinite;
}
@keyframes footerText
{
    0%
    {
        color: #fff;
        rotate: 0deg;
        font-size: 2vh;
    }
    25%
    {
        color: rgb(0, 198, 224);
        rotate: -15deg;
        font-size: 2.5vh;
    }
    50%
    {
        color: rgb(251, 255, 20);
        rotate: 0deg;
        font-size: 2vh;
    }
    75%
    {
        color: rgb(28, 230, 89);
        rotate: 15deg;
        font-size: 2.5vh;
    }
    100%
    {
        color: #fff;
        rotate: 0deg;
        font-size: 2vh;
    }
}
@keyframes animateWave_1
{
    0%
    {
        background-position-x: 120vh;
    }
    100%
    {
        background-position-x: 0vh;
    }
}
@keyframes animateWave_2
{
    0%
    {
        background-position-x: 0vh;
    }
    100%
    {
        background-position-x: 120vh;
    }
}
.bolygok
{
    position: relative;
    padding: max(150px,10vw);
    background: linear-gradient(#1a9cbc, #436688);
}
.bolygok h2
{
    font-size: 2.2vw;
    margin-bottom: 2vw;
    color: #fff;
}
.credits
{
    position: relative;
    padding: max(150px,10vw);
    background: #605ed9;
}
.credits h2
{
    font-size: 2.2vw;
    margin-bottom: 2vw;
    color: #fff;
}
.nevek
{
    background: blue;
}
.nevek p
{
    color: #05efcb;
    font-size: 10vh;
}
table
{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
table, td
{
    border-collapse: collapse;
    text-align: center;
}
table td a
{
    font-size: 50px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    position: relative;
}
table td .fancy::after
{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: currentColor;
    box-sizing: border-box;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}
table td .fancy:hover::after
{
    transform: scaleX(1);
    transform-origin: left;
}
table img
{
    max-width: 300px;
    height: 300px;
}
table .paratlan
{
    background-color: rgb(240, 240, 240);
}
table .paratlan a
{
    color: #1a9cbc;
}
#nap
{
    padding-top: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.hezag
{
    margin-top: 35%;
}
.bolygokep
{
    transform: translate(320%);
    width:20vw;
}
@media (max-width: 1000px)
{
    header
    {
        padding-left: 80px;
        padding-right: 80px;
    }
    header .logo
    {
        font-size: 1.5em;
    }
    header .navigacio
    {
        font-size: 0.9em;
    }
    .bolygok h2
    {
        font-size: 1.5em;
    }
    table td a
    {
        font-size: 30px;
    }
    table img
    {
        height: 200px;
        width: 200px;
    }
}
@media (max-width: 800px)
{
    .dobozok
    {
        flex-direction: column;
        padding: 2vh 0;
    }
    .dobozok img
    {
        padding: 30px 0;
    }
    .dobozok p.jobbrol,
    .dobozok p.ballrol,
    .dobozok p.jobbrol.csakszoveg,
    .dobozok p.ballrol.csakszoveg
    {
        padding-left: 0;
        padding-right: 0;
    }
    .jobbrol.padding,
    .ballrol.padding,
    .lentrol.padding
    {
        padding-left: 2.5vw;
        padding-right: 2.5vw;
    }
    .dobozok p.ballrol.csakszoveg
    {
        padding-bottom: 60px;
    }
}
@media (max-width: 700px)
{
    header
    {
        padding-left: 50px;
        padding-right: 50px;
    }
    header .logo
    {
        font-size: max(0.9em, 4.5vw);
    }
    header .navigacio
    {
        display: none;
    }
    header .navigacio li a, button
    {
        font-size: max(1em, 3.5vw);
        display: inline-block;
        margin: 10px;
    }
    .ikon
    {
        z-index: 20;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url("img/menu.png");
        background-size: 29px;
        background-position: center;
        background-repeat: no-repeat;
    }
    .ikon.active
    {
        z-index: 21;
        top: 38px;
        right: 50px;
        background: url("img/close.png");
        background-size: 29px;
        background-position: center;
        background-repeat: no-repeat;
        position: fixed;
    }
    header .navigacio.active
    {
        z-index: 20;
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 60%;
        height: 100%;
        background: rgba(37, 28, 80, 0.7);
        backdrop-filter: blur(1.5rem);
    }
    .dropbtn
    {
        font-size: 4vw;
    }
    .dropdown:hover .dropdown-content
    {
        display: none;
    }
    #TopBtn
    {
        bottom: 20px;
        outline: thin solid white;
        padding: 4px;
        padding-bottom: 0;
        border-radius: 0;
    }
    button span.full
    {
        display: none;
    }
    button span.short
    {
        display: block;
    }
    button span.short img
    {
        width: 30px;
    }
    .fore img
    {
        display: none;
    }
    .text h1
    {
        letter-spacing: 10px;
        top: 35vh;
    }
    .sec1, .sec2, .sec3
    {
        padding-top: 50px;
        padding-left: 35px;
        padding-right: 35px;
    }
    .sec1 h2
    {
        font-size: 2em;
    }
    .sec2 h2
    {
        font-size: 2em;
    }
    .sec3 h2
    {
        font-size: 2em;
    }
    #text
    {
        font-size: 4vw;
    }
    .sec3::before
{
    display: none;
}
    footer ul li a
{
    border: none;
    font-size: max(1.7vh, 10px);
}
    .bolygok
    {
        padding-left: 15px;
        padding-right: 15px;
    }
    .bolygok h2
    {
        padding-left: 30px;
        font-size: 1em;
    }
    table td a
    {
        font-size: 15px;
    }
    table img
    {
        height: 125px;
        width: 125px;
    }
}
